/* 
--------------------------------------------------------------------------------------------------------------
All rights reserved to Siddhant Singh and you can't make change without his permissiom.
name: home css file 
type: class family
-------------------------------------------------------------------------------------------------------------- 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    --bg-nav-grey:rgb(20, 20, 20);
    --grey-border:#31743e;
    --border-radius:20px;
    --colour-blue:#38bdf8;
    --colour-purple:#818cf8;
    --border-grey-colour:rgba(255,255,255,0.07);
    color: white;
    min-height: 739px;

}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid --grey-border;
    z-index: 10;
    display: flex;
    align-items: center;
    position: fixed;
}

.logo img{
    width:60px ;
    margin:0px 4px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.colourjs{
    text-decoration: none;
    color: var(--bg-nav-grey);
    font-weight: 600;
    font-size: 14px;
padding: 1px;
    border-bottom: 2px solid rgb(0, 0, 0);

}

.nav-links a:hover{
    padding: 1px;
    border-bottom: 3px solid var(--grey-border);
    color: var(--grey-border);
}

.app-btn {
    padding: 8px 14px;
    background: var(--grey-border);
    border: none;
    color: white;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    min-height: 46vh;
    height: 50vh;
    background: url("zoro_pc.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding: 0 0px;
}

/* Overlay dark effect */


.hero-content {
    max-width: 500px;
}
#adva{
    padding: 20vh 20px;
    width: 100%;
    height: 100%;
    backdrop-filter:blur(5px);
    position: sticky;
    top: 86px;
}

.subtitle {
    color: var(--grey-border);
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 25px;
}

.book-btn {
    padding: 12px 20px;
    margin:7px 20px 0px 0px;
    background: var(--grey-border);
    border: none;
    color: white;
    cursor: pointer;
}

/* Opening Hours */
.hours {
    position: relative;
    text-align: right;
}

/* BOTTOM STRIP */
.welcome-strip {
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

.welcome-strip .left {
    font-weight: bold;
}

.welcome-strip .right {
    max-width: 400px;
    font-size: 14px;
}

.container{
    width:70vw;
    padding: 10px;
    height: fit-content;
    margin: 10px auto;
    border: var(--border-radius) solid var(--grey-border);
    box-shadow: inset 100px 100px 2px solid var(--grey-border);
    display: grid;
    grid-template-columns: auto auto;
}
.movieslistno{
    color: black;
    width: 100%;
    height: 350px;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
}
.movieslistno a p{
    overflow: auto;
    scrollbar-width: none;
}

.movieslistno a{
    color: black;
}

.page{
    width: 40vw;
    height: 30px;
    background-color: var(--grey-border);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page a{
    text-decoration: none;
    color: white;

}

.page a:hover{
    text-decoration: underline;
}


@media screen and (min-width:900px){
    .navbar{
        font-size: 4px;
    }
    .container{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width:651px){
  .hero{
    font-size: 20px;
  }
  header{
    
    min-width: 529px;
    overflow: scroll;
  }
  h1{font-size: 2px;}
    .container{
        width: 90vw;
        grid-template-columns: auto auto;
gap: 5px;
    }
    
}
